{% extends "base.html" %}

{% block body %}
<div class="d-flex flex-column justify-content-center mt-5">
    
    <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="p-2"><h1>Selamat</h1></div>
        <div class="p-2"><h1>Datang</h1></div>
        <div class="p-2"><h1>di</h1></div>
    </div>
    <div class="d-flex flex-row m-3 justify-content-center flex-wrap simbion-logo border-bottom">
        <div class="p-2"><h1>Sistem</h1></div>
        <div class="p-2"><h1>Informasi</h1></div>
        <div class="p-2"><h1>Beasiswa</h1></div>
        <div class="p-2"><h1>Online</h1></div>
    </div>

    <p class="text-center font-italic">Semua orang berhak memperoleh kesempatan yang sama dalam memperoleh pendidikan tinggi.</p>

    <div class="d-flex flex-row m-4 justify-content-center flex-wrap">
        <div class="p-2"><a href="{% url 'login' %}" class="btn btn-light btn-lg"><h2>Masuk</h2></a></div>
        <div class="p-2"><a href="{% url 'register' %}" class="btn btn-light btn-lg"><h2>Daftar</h2></a></div>
    </div>
</div>
<div id="bawah">
    <!-- ADDITIONAL TABLE -->
    <!-- CSS -->
    <style>
        #informasi-beasiswa{
            display: none;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
    
        th, td {
            text-align: center;
            padding: 8px;
            
        }
    
        tr:nth-child(even){background-color: #f2f2f2}
    
        th {
            background-color: #343a40;
            color: white;
            text-align: center;
        }
        h1{
            font-weight: bold;
            font-family: 'Armata';
        }
        h3{
            text-align: center;
            border-top: 1px solid #dee2e6;
            border-collapse: separate;
            border-top
        }
        #button_info_selengkapnya{
            margin: 0 auto;
            color:black;
            position:relative;
            top:50%; 
            left:42%;
        }
    </style>
<div>
    <br>
    <br>
        <h3>BEASISWA YANG TERDAFTAR DI SIMBION</h3>
    <div id="beasiswa-table">
        <table class="table table-bordered" id="list-beasiswa">
                <thead>
                    <tr>
                    <th>Nama Beasiswa</th>
                    <th>Waktu Tutup Pendaftaran</th>
                    <th>Status beasiswa</th>
                    <th>Jumlah Pendaftar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bank Indonesia</td>
                        <td>9/11/2019</td>
                        <td>Dibuka</td>
                        <td>93</td>
                    </tr>
                </tbody>
        </table>
        <div>
            <a href="{% url 'info-beasiswa' %}" type="button" class="btn btn-default" id="button_info_selengkapnya" >Info Selengkapnya</a>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %}