
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
        <li style="width:40vw" role="presentation" class="active">
            <a href="#beasiswa_baru" name="beasiswa_baru" aria-controls="home" role="tab" data-toggle="tab">Beasiswa Baru</a>
        </li>
        <li style="width:40vw" role="presentation">
            <a href="#tambah_paket" name="tambah_paket" aria-controls="settings" role="tab" data-toggle="tab">Menambahkan Paket Beasiswa</a>
        </li>
</ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="beasiswa_baru">
            <!-- Apply the same here -->
            {% include '3_register_skema_beasiswa/tambah_paket.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tambah_paket">
            <!-- Apply the same here -->
            {% include '3_register_skema_beasiswa/tambah_paket.html ' %}
        </div>
    </div>
    