{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <h2 class="p-2 border-bottom">Login</h2>
    </div>
</div>
<div class="row container">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username-input">Username SIMBION</label>
                <input type="text" name="username" class="form-control" id="username-input" placeholder="Masukkan username" maxlength="20" required>
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" name="password" class="form-control" id="password-input" placeholder="Password" minlength="8" required>
            </div>
            {% if login_error %}
            <small class="text-danger">Username atau password salah</small>
            {% endif %}
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mt-2">
        <p>Mahasiswa dan Donatur dapat masuk ke dalam sistem melalui form login ini.</p>
        <p>Mahasiswa dan Donatur yang belum punya username SIMBION bisa mendapatkannya dengan mendaftarkan diri ke sistem ini pada <b>halaman pendaftaran</b>.</p>
        <a href="{% url 'register' %}" class="btn btn-primary">Buka halaman pendaftaran</a>
    </div>
</div>
{% endblock %}
