
<form>
<div>
    <h1>Tempat Wawancara</h1>
    <br>
</div>
<div class="form-group">
<div class="row">
    <div class="col-2">
    <label>Kode </label>
    </div>
     <div class="col-10">
    <input class="form-control" id="kode" type="text" name="kode" placeholder="Kode" >
        </div>
</div>
</div>
<div class="form-group">
<div class="row">
    <div class="col-2">
    <label>Nama </label>
    </div>
     <div class="col-10">
    <input class="form-control" id="nama" type="text" name="nama" placeholder="Nama" >
        </div>
</div>
</div>
<div class="form-group">
      <div class="row">
          <div class="col-2">
        <label for="example">Lokasi</label>
          </div>
          <div class="col-10">
        <textarea class="form-control" rows="4" cols="50" placeholder="Lokasi">
</textarea>
          </div>
      </div>
      <div>
        <input type="submit" class="btn btn-info" value="Submit">
      </div>
</div>
</form>