<header>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm bg-dark">
        <div class="container">
            <a class="navbar-brand simbion-logo" href="/landing">SIMBION</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="container-fluid d-flex flex-row flex-wrap justify-content-end">
                    <ul class="navbar-nav">
                        <li class="p-2 nav-item"><a class="nav-link text-right" href="/info-beasiswa">List Beasiswa</a></li>
                        <li class="p-2 nav-item"><a class="nav-link text-right" href="/pengumuman-beasiswa">Pengumuman</a></li>
                        {% if not simbion_user %}
                        <li class="p-2 nav-item"><button type="button" class="btn btn-light text-right" onclick="newPage('login')">Login / Register</button></li>
                        {% else %}
                        <li class="p-2 nav-item"><a class="nav-link text-right">{{ simbion_user.name }}</a></li>
                        <li class="p-2 nav-item"><button type="button" class="btn btn-secondary text-right" onclick="logout()">Logout</button></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
                
</header>