<!-- Pendaftaran beasiswa -->
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    #informasi-beasiswa{
        display: none;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: center;
        padding: 8px;
        
    }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
        background-color: #343a40;
        color: white;
        text-align: center;
    }
    h1{
        font-weight: bold;
        font-family: 'Armata';
    }
</style>

<h1>DAFTAR BEASISWA</h1>

<div id="beasiswa-table">
    <table class="table table-bordered" id="list-beasiswa">
            <thead>
                <tr>
                <th>Nama Beasiswa</th>
                <th>Waktu Tutup Pendaftaran</th>
                <th>Status beasiswa</th>
                <th>Jumlah Pendaftar</th>
                <th>Informasi</th>
                </tr>
            </thead>
            <tbody>
                {% if beasiswa_list %}
                    {% for beasiswa in beasiswa_list %}
                    <tr>
                        <td>{{beasiswa.getSkemaBeasiswa.getNama}}</td>
                        <td>{{beasiswa.getTglTutupPendaftaran}}</td>
                        <td>{{beasiswa.getStatus}}</td>
                        <td>{{beasiswa.getJumlahPendaftar}}</td>
                        <td><a href="{% url 'detail-beasiswa' id_skema_beasiswa=beasiswa.getSkemaBeasiswa.getKode id_skema_beasiswa_aktif=beasiswa.getNoUrut %}" class="btn btn-default">Lihat Beasiswa</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
    </table>
    <!--Pagination method -->
    {% if beasiswa_list.has_other_pages %}
    <ul class="pagination">
        {% if beasiswa_list.has_previous %}
            <li><a href="?page={{ beasiswa_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in beasiswa_list.paginator.page_range %}
            {% if beasiswa_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if beasiswa.has_next %}
            <li><a href="?page={{ beasiswa_list.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}  
</div>

    
