{% extends 'base.html' %}

{% block body %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    #header-info-beasiswa{
        font-size: 25px;
        font-weight: bold;
    }
    #deskripsi-kecil{
        font-size:18px;
        text-align:center;
        margin: auto;
        margin-top:50px;
    }
    #bawah{
        margin-top:20px;
    }
    #daftar-disini{
        margin-top:30px;
    }
    .center {
        text-align: center;
        margin: auto;
        width: 20%;
        padding: 10px;
        
    }
    #btn_color{
        color: black;
    }
</style>
<div id="info-beasiswa-real">
    <div id="header-info-beasiswa">
        <h1>{{beasiswa.getSkemaBeasiswa.getNama}}</h1>
        <div id="profil-beasiswa" class="row">
            <div class="col-3" id="kode-beasiswa">
                <h3>Kode Beasiswa :</h3>
            </div>
            <div class="col-3">
                <h3>{{beasiswa.getSkemaBeasiswa.getKode}}</h3>
            </div>
            <div class="col-3" id="jenis-beasiswa">
                <h3>Jenis Beasiswa : </h3>
            </div>
            <div class="col-3">
                <h3>{{beasiswa.getSkemaBeasiswa.getJenis}}</h3>
            </div>
            <br>
            <br>    
            <div class="col-10" id="deskripsi-kecil">
                <p>"{{beasiswa.getSkemaBeasiswa.getDeskripsi}}"</p>
            </div>     
        </div>
            <div id="bawah">
                <div class="row">
                    <div class="col-3">
                        <h4>Syarat Beasiswa : </h4>
                   </div>
                    <div class="col-9"> 
                        <h4>{{syarat}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div>
            <div class="center">
                <a id="btn_color" href="{% url 'register-beasiswa' %}" type="button" class="btn btn-outline-secondary container-fluid">Daftar Beasiswa ini</a>
            </div>                    
            <div class="center">
                <a id="btn_color" href="{% url 'info-beasiswa' %}" type="button" class="btn btn-outline-secondary container-fluid">Kembali</a>
            </div>
        </div>              
    </div>
</div>
{% endblock %}