{% extends 'base.html' %}

{% block body %}
<style>
    #header-info-beasiswa{
        font-size: 25px;
        font-weight: bold;
    }
    #deskripsi-kecil{
        font-size:18px;
        text-align:center;
        margin: auto;
        margin-top:50px;
    }
    #bawah{
        margin-top:20px;
    }
    #daftar-disini{
        margin-top:30px;
    }
</style>
<div id="info-beasiswa-real">
    <div id="header-info-beasiswa">
        <h1>Beasiswa Bank Intonesia</h1>
        <div id="profil-beasiswa" class="row">
            <div class="col-3" id="kode-beasiswa">
                <h3>Kode Beasiswa : </h3>
            </div>
            <div class="col-3">
                <h3>KJ123</h3>
            </div>
            <div class="col-3" id="jenis-beasiswa">
                <h3>Jenis Beasiswa : </h3>
            </div>
            <div class="col-3">
                <h3>Beasiswa Akademik</h3>
            </div>
            <br>
            <br>    
            <div class="col-10" id="deskripsi-kecil">
                <p>"Beasiswa Bank Intonesia adalah ksnfk n sj k dfnjkng j ksdf kbgjkb fjk s
                        dgkbkdsb gb dfksbgjkb ds kbgk sdjbkbgks dbgjksdg jdjksbgkj kdfb sjkgbk 
                        djsb gjk fkdbsk gbkdbg jkd jbsdjk bgdk"</p>
            </div>     
        </div>
            <div id="bawah">
                <div class="row">
                    <div class="col-4">
                        <h4>Syarat Beasiswa : </h4>
                   </div>
                    <div class="col-8"> 
                        <h4>Sudah Mandi</h4>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-top:50px;font-size:20px;font-weight:bold">
                <a href="/register-beasiswa" style="margin-left:40%">Daftar Beasiswa ini</a>
            </div>                    
            <div style="font-size:20px;font-weight:bold">
                <button onclick="back_to_list()" class="btn-default btn-outline-secondary text-center container-fluid">Kembali</button>
            </div>
        </div>              
    </div>
</div>
<script>
    function back_to_list(){
        $("#info-beasiswa-real").fadeOut();
        $("#list-beasiswa").fadeIn(3000);
    };
</script>
{% endblock %}