<!-- Membuat beasiswa  -->
<form class="container-fluid" action="POST">
    <p1 style="font-size:30px">Membuat beasiswa</p1>
    <br>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <label>Kode</label>
            </div>
            <div class="col-8">
                <input class="form-control" id="jenis_1" type="text" name="Kode" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4" id="nama_beasiswa_1">
                <label>Nama Paket Beasiswa</label>
            </div>
            <div class="col-8">
                <input class="form-control" id="nama_beasiswa_1" type="text" name="nama_beasiswa" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4" >
                <label>Jenis Paket Beaasiswa</label>
            </div>
            <div class="col-8">
                    <select id="jenis_paket_1" name="jenis_paket">
                        {% for data in kode_list_skema %}
                    <option value="{{ data }}">
                        {{ data }}
                    </option>
                        {% endfor %}
                    </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <label for="example">Deskripsi</label>
            </div>
            <div class="form-group col-8">
                <textarea class="form-control" rows="5" cols="100" id="deskripsi_1" name="deskripsi" required ></textarea>
            </div> 
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <label>Syarat Beasiswa</label>
            </div>
            <div class="col-8">
                <input class="form-control" id="syarat_beasiswa_1" type="text" name="syarat_beasiswa" value="{{ syarat_beasiswa }}" required >
            </div>
        </div>
    </div>
    <div class="m-3" id="submitKuy" style="display:none">
        <a href="{% url '' %}" style="margin-top:10px;margin-left:25%;margin-right:auto;width:50%;text-align:center" class="btn btn-default" type="submit">Submit</a>
    </div>        
</form>