<!-- Mendaftarkan paket beasiswa yang sudah ada -->
<form>
    <p1 style="font-size:30px">Menambahkan paket beasiswa</p1>
    <br>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-2 popup">
                <label>Kode Beasiswa</label>
            </div>
            <div class="col-10">
                    <select id="kode_beasiswa" name="kode_beasiswa">
                        {% for data in kode_list_beasiswa %}
                    <option value="{{ data }}">
                        {{ data }}
                    </option>
                        {% endfor %}
                    </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4" id="nomor_urut">
                <label>Nomor Urut</label>
            </div>
            <div class="col-8">
                <input class="form-control" id="nomor_urut" type="text" name="nomor_urut" value="{{ nomor_urut }}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4" >
                <label>Tanggal Mulai Pendaftaran</label>
            </div>
            <div class="col-8">
                <input type="date" id="tanggal_mulai">    
            </div>
        </div>
        <div class="row">
            <div class="col-4" >
                <label>Tanggal Tutup Pendaftaran</label>
            </div>
            <div class="col-8">
                <input type="date" id="tanggal_selesai">    
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <label for="example">Deskripsi</label>
            </div>
            <div class="form-group col-8">
                <textarea class="form-control" rows="5" cols="100" id="deskripsi" ></textarea>
            </div> 
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <label>Syarat Beasiswa</label>
            </div>
            <div class="col-8">
                <input class="form-control" id="syarat_beasiswa" type="text" name="syarat_beasiswa" value="{{ syarat_beasiswa }}" >
            </div>
        </div>
    </div>
    <div class="m-3" id="submitKuy">
        <button style="margin-top:10px;margin-left:25%;margin-right:auto;width:50%;text-align:center" class="btn btn-default" >Submit</button>
    </div>             
</form>