{% extends "base.html" %}

{% block body %}
    {% if success %}
    <p>Terima kasih , anda telah terdaftar</p>
    {% else %}
<form action="{% url 'register-beasiswa' id_skema_beasiswa=skema_default.getSkemaBeasiswa.getKode id_skema_beasiswa_aktif=skema_default.getNoUrut %}" method="post">
{% csrf_token %}
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <label>Kode Beasiswa</label>
        </div>
    <div class="col-10">
            <select name="Kode_beasiswa">
            {% if skema_default %}
            <option value="{{ skema_default.getSkemaBeasiswa.getKode }}">
                {{ skema_default.getSkemaBeasiswa.getKode }}
            </option>
            {% else %}
                {% for data in skema %}
            <option value="{{ skema_default.getSkemaBeasiswa.getKode }}">
                {{ data.getSkemaBeasiswa.getKode }}
            </option>
                    {% endfor %}
            {% endif %}

          </select>
        </div>
            </div>
</div>
<div class="form-group">
<div class="row">
    <div class="col-2">
    <label>NPM </label>
    </div>
     <div class="col-10">
    <input class="form-control" id="npm" type="text" name="npm" value="{{ npm }}" readonly>
        </div>
</div>
</div>
<div class="form-group">
<div class="row">
    <div class="col-2">
    <label>Email </label>
    </div>
     <div class="col-10">
    <input class="form-control" id="email" type="text" name="email" value="{{ email }}" readonly>
        </div>
</div>
</div>
<div class="form-group">
      <div class="row">
          <div class="col-2">
        <label for="example">Indeks Prestasi Semester</label>
          </div>
          <div class="col-10">
        <input class="form-control" id="ips" type="text" name="ips" required>

          </div>
      </div>
      <div>
        <input type="submit" class="btn btn-info" value="Submit">
      </div>
</div>
</form>
    {% endif %}
{% endblock %}
