<h2 class="p-2 border-bottom">Pendaftaran Yayasan Donatur</h2>
<div class="container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUsername">Username SIMBION</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" maxlength="20" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" maxlength="50" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Buat password baru" 
                    maxlength="20" minlength="8" required>
                <small>Password harus terdiri dari 8 karakter alfanumerik</small>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword2">Konfirmasi Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Konfirmasi, tulis ulang password" 
                    maxlength="20" minlength="8" oninput="checkConfirmPassword(this)" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNama">Nama Yayasan</label>
                <input type="text" class="form-control" id="inputNama" placeholder="Nama yayasan" maxlength="50" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputSk">No. SK Yayasan</label>
                <input type="text" class="form-control" id="inputSk" placeholder="SK" maxlength="20" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputId">Nomor Identitas</label>
                <input type="text" class="form-control" id="inputId" placeholder="Nomor identitas" maxlength="50" required>
                <small>Nomor identitas yang telah diberikan pihak Universitas</small>
            </div>
            <div class="form-group col-md-6">
                <label for="inputNpwp">NPWP</label>
                <input type="text" class="form-control" id="inputNpwp" placeholder="NPWP" minlength="20" maxlength="20" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Alamat Yayasan</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Alamat yayasan" maxlength="50" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <label for="inputNotel">Nomor Telepon Contact Person</label>
                <input type="tel" class="form-control" id="inputNotel" placeholder="Contoh: +62 812 3456 7890" maxlength="20">
            </div>
        </div> 
        <div class="form-row m-5">
            <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-primary btn-block">Daftar</button>    
            </div>    
        </div>       
        
    </form>
    
</div>
