<div class="d-flex flex-column justify-content-center">

    <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="p-2"><h2>Pendaftaran</h2></div>
        <div class="p-2"><h2>Akun</h2></div>
        <div class="p-2"><h2>SIMBION</h2></div>
    </div>
    
    <div class="d-flex flex-row m-4 justify-content-center flex-wrap">
        <div class="p-2"><a href="/register-mahasiswa" class="btn btn-light btn-lg"><h3>Pendaftaran Mahasiswa</h3></a></div>
        <div class="p-2"><a href="/register-donatur" class="btn btn-light btn-lg"><h3>Pendaftaran Donatur</h3></a></div>
    </div>

</div>
