<h2 class="p-2 border-bottom">Pendaftaran Mahasiswa</h2>
<div class="container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUsername">Username SIMBION</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" maxlength="20" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" maxlength="50" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Buat password baru" 
                    maxlength="20" minlength="8" required>
                <small>Password harus terdiri dari 8 karakter alfanumerik</small>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword2">Konfirmasi Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Konfirmasi, tulis ulang password" 
                    maxlength="20" minlength="8" oninput="checkConfirmPassword(this)" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNama">Nama Lengkap</label>
                <input type="text" class="form-control" id="inputNama" placeholder="Nama lengkap" maxlength="50" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputNpm">Nomor Pokok Mahasiswa</label>
                <input type="text" class="form-control" id="inputNpm" placeholder="NPM" maxlength="20" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Alamat Tempat Tinggal</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Alamat tinggal sekarang" maxlength="50" required>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Alamat Domisili</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Alamat KTP" maxlength="50" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <label for="inputNotel">Nomor Telepon</label>
                <input type="tel" class="form-control" id="inputNotel" placeholder="Contoh: +62 812 3456 7890" maxlength="20">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputBank">Nama Instansi Bank</label>
                <input type="text" class="form-control" id="inputNama" placeholder="Contoh: Mandiri, BCA, BNI, dll" maxlength="50" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputRekening">Nomor Rekening</label>
                <input type="number" class="form-control" id="inputRekening" placeholder="No. rek" maxlength="20" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPemilik">Nama Pemilik Rekening</label>
                <input type="text" class="form-control" id="inputPemilik" placeholder="Nama pemilik rekening" maxlength="20" required>
            </div>
        </div>
        
        <div class="form-row m-5">
            <div class="form-group col-md-4 offset-md-4">
                <button type="submit" class="btn btn-primary btn-block">Daftar</button>    
            </div>    
        </div>  
    </form>
    
</div>
