<style>
table, th, td {
    border: 1px solid black;
}
</style>
<table class="table" style="width:100%">
  <tr>
    <th>No Urut Pendaftar</th>
    <th>Nama</th>
    <th>NPM</th>
     <th>Waktu Daftar</th>
      <th>Status Terima</th>
      <th>Pilih</th>

  </tr>


     <tr>
     <td>1</td>
     <td>Budi</td>
     <td>1606823231</td>
     <td>07-04-2018</td>
     <td>Dilaporkan</td>
     <td>
         <div class="btn-group-vertical">
          <input type="submit" class="btn btn-info" value="Terima">

         <br>
          <input type="submit" class="btn btn-danger" value="Tolak">
         </div>
     </td>
     </tr>




</table>
